/* This is a compiled file, you should be editing the file in the templates directory */
.pace-running {
  background: #1b1c27;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  /*height: 6rem;*/
  /*width: 6rem;*/
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace.pace-inactive .pace-activity {
  display: none;
}

.pace .pace-progress {
  z-index: 2000;
  display: block;
  left: 0;
  top: 0;
  height: 6rem;
  width: 6rem !important;
  line-height: 6rem;
  font-size: 1.8rem;
  border-radius: 50%;
  background: #dd3154;
  color: #fff;
  text-align: center;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
}

.pace .pace-activity {
  height: 2px;
  background: #dd3154;
  position: absolute;
}
