@import "mixins";

body {
  font-family: 'Oswald', sans-serif;
  height: 100%;
  overflow-x: hidden;
}
.button {
  cursor: pointer;
}

.__portfolio-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  &.disabled {
    position: fixed;
  }
  .markers {
    visibility: hidden;
    @include bp-desktop-md {
      visibility: visible;
      position: fixed;
      z-index: 2001;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      a {
        .pink-dot {
          width: 6px;
          height: 6px;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 50%;
          position: relative;
          margin-bottom: 12px;
          &#footer-dot {
            margin-bottom: 0;
          }
          &.active {
            background: #dd3154;
            &::before {
              content: '';
              position: absolute;
              width: 10px;
              height: 10px;
              background: #dd315454;
              border-radius: 50%;
              left: -2px;
              top: -2px;
              @include animation(fade-out 1s infinite);
            }
            &::after {
              content: '';
              position: absolute;
              width: 14px;
              height: 14px;
              background: #dd315424;
              border-radius: 50%;
              left: -4px;
              top: -4px;
              @include animation(fade-out 1s infinite);
            }
          }
        }
      }
    }
  }
  .main-content {
    margin: 0 25px;
    @include bp-tablet-vertical {
      margin: 0 35px;
    }
    @include bp-desktop-sm {
      margin: 0 150px;
    }
    @include bp-desktop-ultra {
      margin: 0 200px;
    }
    background-color: #1b1c26;
    @include transition(all .7s ease);
    .nav-icon {
      position: absolute;
      z-index: 2500;
      left: 30px;
      top: 30px;
      #nav-icon {
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        @include transition(all .7s ease);
        span {
          display: block;
          position: relative;
          height: 3px;
          width: 100%;
          background: #ffffff;
          left: 0;
          margin-top: 7px;
          &:nth-of-type(1) {
            margin-top: 0;
          }
          &::before {
            content: '';
            position: absolute;
            height: 3px;
            width: 0;
            background-color: #dd3154;
          }
          &:nth-of-type(1) {
            &::before {
              transition: width 0.2s ease-out 0.4s;
            }
          }
          &:nth-of-type(2) {
            &::before {
              transition: width 0.2s ease-out 0.2s;
            }
          }
          &:nth-of-type(3) {
            &::before {
              transition: width 0.2s ease-out 0s;
            }
          }
          @include transition(all .7s ease);
        }
        &:hover {
          span {
            &:nth-of-type(1) {
              &::before {
                transition: width 0.2s ease-out 0s;
                width: 80%;
              }
            }
            &:nth-of-type(2) {
              &::before {
                transition: width 0.2s ease-out 0.2s;
                width: 60%;
              }
            }
            &:nth-of-type(3) {
              &::before {
                transition: width 0.2s ease-out 0.4s;
                width: 40%;
              }
            }
          }
        }
        &.active {
          span {
            background-color: #dd3154;
            &::before {
              width: 0;
            }
            &:nth-of-type(1) {
              -webkit-transform: translateY(10px) rotateZ(45deg);
              -moz-transform: translateY(10px) rotateZ(45deg);
              -ms-transform: translateY(10px) rotateZ(45deg);
              -o-transform: translateY(10px) rotateZ(45deg);
              transform: translateY(10px) rotateZ(45deg);
            }
            &:nth-of-type(2) {
              width: 0;
            }
            &:nth-of-type(3) {
              -webkit-transform: translateY(-10px) rotateZ(-45deg);
              -moz-transform: translateY(-10px) rotateZ(-45deg);
              -ms-transform: translateY(-10px) rotateZ(-45deg);
              -o-transform: translateY(-10px) rotateZ(-45deg);
              transform: translateY(-10px) rotateZ(-45deg);
            }
          }
        }
      }
    }
    .sidebar {
      height: 100%;
      width: 100%;
      position: fixed;
      left: -100%;
      background-color: #1b1c27;
      z-index: 2002;
      @include transition(all .7s ease);
      &.move-to-right {
        @include translateX(100%);
      }
      display: grid;
      justify-items: center;
      align-items: center;
      .sidebar-list {
        padding: 0;
        display: grid;
        grid-template-rows: 100px 100px 100px 100px;
        @include bp-tablet-vertical {
          grid-template-rows: 120px 120px 120px 120px;
        }
        justify-items: center;
        align-items: center;
        .sidebar-item {
          list-style-type: none;
          font-size: 2.5rem;
          @include bp-tablet-vertical {
            font-size: 3.5rem;
          }
          a {
            color: #dd3154;
            text-decoration: none;
            &::before {
              content: "";
              width: 0;
              height: 2px;
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: #ffffff;
              @include transition(all .7s ease-in-out);
            }
            &:hover {
              @include animation(change-color .7s ease-in-out forwards);
              &::before {
                width: 100%;
              }
            }
          }
          opacity: 0;
          @include translateY(-20px);
          &:first-child {
            @include transition(all .7s .2s ease-in-out);
          }
          &:nth-child(2) {
            @include transition(all .7s .4s ease-in-out);
          }
          &:nth-child(3) {
            @include transition(all .7s .6s ease-in-out);
          }
          &:last-child {
            @include transition(all .7s .8s ease-in-out);
          }
          &.active {
            opacity: 1;
            @include translateY(0);
          }
        }
      }
    }
    .home {
      width: calc(100% + 50px);
      overflow: hidden;
      margin-left: -25px;
      @include bp-tablet-vertical {
        width: calc(100% + 70px);
        margin-left: -35px;
      }
      @include bp-desktop-sm {
        width: calc(100% + 300px);
        margin-left: -150px;
      }
      @include bp-desktop-ultra {
        width: calc(100% + 400px);
        margin-left: -200px;
      }

      .home--background {
        img {
          display: block;
          width: 100%;
          height: -moz-available;          /* WebKit-based browsers will ignore this. */
          height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
          height: fill-available;
          @include bp-desktop-sm {
            display: none;
          }
        }
        video {
          display: none;
          @include bp-desktop-sm {
            display: block;
            width: 100%;
            height: -moz-available;          /* WebKit-based browsers will ignore this. */
            height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
            height: fill-available;
            object-fit: cover;
          }
        }
        svg.background {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          opacity: 0;
          @include animation(scale .5s .2s ease-in forwards);
          > rect {
            fill: #1a1e2ce6;
            -webkit-mask: url(#background-mask);
            mask: url(#background-mask);
          }
          mask {
            rect {
              fill: #ffffff;
            }
            text {
              font-size: 7rem;
              stroke: #000000;
              stroke-width: 8px;
              letter-spacing: 8px;
              @include bp-tablet-vertical {
                font-size: 10rem;
                stroke-width: 12px;
              }
              @include bp-desktop-sm {
                letter-spacing: 12px;
              }
              @include bp-desktop-md {
                stroke-width: 15px;
              }
              @include bp-desktop-ultra {
                stroke-width: 15px;
                font-size: 12rem;
              }
            }
          }
        }
      }
      .home--content {
        position: absolute;
        color: #ffffff;
        z-index: 1;
        height: 100%;
        width: 100%;
        opacity: 0;
        @include animation(scale .5s .3s ease-in forwards);
        .header {
          padding: 30px;
          .header-logo {
            width: 100px;
            margin-left: auto;
            @include bp-tablet-vertical {
              width: 120px;
            }
            @include bp-desktop-sm {
              width: 130px;
            }
          }
        }
        .description {
          position: absolute;
          left: 0;
          width: 100%;
          transform: translateY(-50%);
          top: 50%;
          margin-top: 50px;
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          h1 {
            font-family: 'Megrim', cursive;
            font-size: 1.5rem;
            @include bp-desktop-sm {
              font-size: 2.5rem;
            }
            word-spacing: 10px;
          }
        }
        .scroll-down {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          .scroll-down--line {
            height: 10vh;
            > rect {
              fill: #ffffff;
              -webkit-mask: url(#scroll-down-mask);
              mask: url(#scroll-down-mask);
            }
            mask {
              rect {
                fill: #ffffff;
              }
              line {
                animation: scroll-down 2s linear infinite;
                stroke: #000000;
                stroke-width: 5px;
              }
            }
          }
        }
      }
    }
    .greeting {
      padding-top: 15vh;
      position: relative;
      .greeting--background {
        height: 60vh;
        @include bp-tablet-vertical {
          height: 80vh;
        }
        background: url(http://res.cloudinary.com/dx0uzywra/image/upload/v1532335104/background-city_hbee6z.png) center center;
        background-size: cover;
        width: calc(100% + 20px);
        margin-left: -10px;
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-desktop-sm {
          width: calc(100% + 50px);
          margin-left: -25px;
        }
        &::before {
          content: '';
          position: absolute;
          border-top: 10px solid #949494;
          border-right: 10px solid transparent;
          bottom: -10px;
          left: 100%;
          @include bp-tablet-vertical {
            visibility: hidden;
          }
        }
        &::after {
          content: '';
          position: absolute;
          border-top: 10px solid #949494;
          border-left: 10px solid transparent;
          @include bp-desktop-sm {
            border-top: 20px solid #949494;
            border-left: 25px solid transparent;
          }
        }
        .overlay-background {
          height: 100%;
          background-color: #1a1e2ce6;
        }
      }
      .greeting--box {
        background-color: #ffffffe0;
        position: absolute;
        z-index: 1;
        height: 50vh;
        width: calc(100% + 40px);
        right: -20px;
        bottom: 5vh;
        @include bp-tablet-vertical {
          height: 50vh;
          width: 80vw;
          right: -25px;
          bottom: -5%;
        }
        @include bp-desktop-sm {
          height: 50vh;
          width: 60vw;
          right: -50px;
        }
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        .greeting-text {
          padding-top: 12vh;
          padding-left: 10vw;
          height: 100%;
          @include bp-desktop-sm {
            padding-top: 14vh;
            padding-left: 12vw;
          }
          h2 {
            text-transform: uppercase;
            font-weight: 600;
            color: #3d506e;
            padding-bottom: 5px;
            font-size: 1.7rem;
            @include bp-tablet-vertical {
              font-size: 2.2rem;
            }
            @include bp-desktop-sm {
              font-size: 2.5rem;
            }
          }
          .seperater {
            height: 2px;
            background-color: #db324f;
            margin-left: 10vw;
            @include bp-tablet-vertical {
              margin-left: 50px;
            }
          }
          p {
            padding-top: 10px;
            padding-right: 20px;
            font-size: 16px;
            font-family: 'Noe-Display', serif;
            line-height: 1.6;
            text-align: left;
            @include bp-tablet-vertical {
              padding-top: 20px;
              line-height: 1.8;
              font-size: 20px;
              padding-right: 50px;
            }
            @include bp-desktop-md {
              font-size: 22px;
            }
            @include bp-desktop-lg {
              font-size: 24px;
              padding-right: 50px;
            }
          }
        }
        &::before {
          content: '';
          left: 0;
          top: 100%;
          position: absolute;
          border-top: 10px solid #b8b8b8;
          border-left: 10px solid transparent;
          @include bp-tablet-vertical {
            visibility: hidden;
          }
        }
        &::after {
          content: '';
          right: 0;
          position: absolute;
          border-top: 10px solid #b8b8b8;
          border-right: 10px solid transparent;
          @include bp-tablet-vertical {
            border-top: 15px solid #b8b8b8;
            border-right: 25px solid transparent;
          }
          @include bp-desktop-sm {
            border-top: 25px solid #b8b8b8;
            border-right: 50px solid transparent;
          }
        }
      }
      .overlay--text {
        width: 104%;
        left: -2%;
        height: 60vh;
        @include bp-tablet-vertical {
          height: 80vh;
        }
        background: url(http://res.cloudinary.com/dx0uzywra/image/upload/v1532335104/background-city_hbee6z.png) center center;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: cover;
        position: absolute;
        bottom: 0;
        z-index: 1;
        font-size: 6em;
        font-weight: 900;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        -webkit-text-stroke: 8px transparent;
        letter-spacing: 10px;
        text-shadow: 0px 30px 80px rgba(0, 0, 0, 0.2);
        visibility: hidden;
        @include bp-tablet-vertical {
          visibility: visible;
          font-size: 9em;
          padding-top: 24vh;
          -webkit-text-stroke: 12px transparent;
        }
        @include bp-desktop-sm {
          font-size: 8em;
          padding-top: 22vh;
        }
        @include bp-desktop-ultra {
          font-size: 12em;
          padding-top: 20vh;
        }
      }
    }
    .banner {
      padding-top: 30vh;
      @include bp-desktop-sm {
        padding-top: 55vh;
      }
      position: relative;
      .banner--below-layer {
        background-color: #ffffff;
        height: 30vh;
        width: calc(100% + 20px);
        margin-left: -10px;
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-desktop-sm {
          width: calc(100% + 50px);
          margin-left: -25px;
        }
        &::after {
          content: '';
          top: 100%;
          position: absolute;
          border-top: 10px solid #949494;
          border-left: 10px solid transparent;
          @include bp-desktop-sm {
            border-top: 20px solid #949494;
            border-left: 25px solid transparent;
          }
        }

      }
      .banner--content {
        position: absolute;
        background-color: #fac02d;
        height: 35vh;
        bottom: -2.5vh;
        right: -15px;
        width: 70vw;
        font-weight: 900;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-tablet-vertical {
          width: 60vw;
        }
        @include bp-desktop-sm {
          right: -50px;
          width: 40vw;
          height: 40vh;
          bottom: -5vh;
        }
        .content-box {
          padding: 3px 20px;
          border-bottom: 1px solid #ffffff;
          border-top: 1px solid #ffffff;
          h1 {
            font-size: 3em;
            color: #ffffff;
            padding: 10px;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
            margin: 0;
            @include bp-tablet-vertical {
              font-size: 5em;
            }
          }
          &::after {
            content: '';
            top: 100%;
            right: 0;
            position: absolute;
            border-top: 10px solid #826417;
            border-right: 15px solid transparent;
            @include bp-desktop-sm {
              border-top: 25px solid #826417;
              border-right: 50px solid transparent;
            }
          }
        }
      }
    }
    .introduce {
      padding-top: 30vh;
      @include bp-desktop-sm {
        padding-top: 55vh;
      }
      position: relative;
      .introduce--below-layer {
        background-color: #ffffff;
        height: 100vh;
        width: calc(100% + 20px);
        margin-left: -10px;
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-tablet-vertical {
          height: 55vh;
        }
        @include bp-desktop-sm {
          height: 65vh;
          width: calc(100% + 50px);
          margin-left: -25px;
        }
        &::after {
          content: '';
          top: 100%;
          right: 100%;
          position: absolute;
          border-top: 10px solid #838383;
          border-left: 10px solid transparent;
          @include bp-desktop-sm {
            border-top: 20px solid #838383;
            border-left: 25px solid transparent;
          }
        }
        &::before {
          content: '';
          top: 100%;
          left: 100%;
          position: absolute;
          border-top: 10px solid #838383;
          border-right: 10px solid transparent;
          @include bp-desktop-sm {
            border-top: 20px solid #838383;
            border-right: 25px solid transparent;
          }
        }
      }
      .introduce--image {
        height: 45vh;
        width: calc(100% + 40px);
        left: -20px;
        background-color: #959595;
        position: absolute;
        bottom: 52vh;
        z-index: 1;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-tablet-vertical {
          height: 35vh;
          width: 35vh;
          bottom: -5vh;
        }
        @include bp-desktop-sm {
          height: 50vh;
          width: 50vh;
          left: -50px;
        }
        @include bp-desktop-md {
          height: 55vh;
          width: 55vh;
        }
        @media only screen and (min-width : 1366px) {
          height: 65vh;
          width: 65vh;
        }
        @include bp-desktop-lg {
          height: 65vh;
          width: 65vh;
        }
        &::after {
          content: '';
          top: 100%;
          left: 0;
          position: absolute;
          border-top: 10px solid #808080;
          border-left: 10px solid transparent;
          @include bp-tablet-vertical {
            border-top: 15px solid #808080;
            border-left: 20px solid transparent;
          }
          @include bp-desktop-sm {
            border-top: 25px solid #808080;
            border-left: 50px solid transparent;
          }
        }
        &::before {
          content: '';
          top: 100%;
          right: 0;
          position: absolute;
          border-top: 10px solid #808080;
          border-right: 10px solid transparent;
          @include bp-tablet-vertical {
            visibility: hidden;
          }
        }
        .image-circle {
          border-radius: 50%;
          position: absolute;
          &.active {
            z-index: 1;
          }
        }
      }
      .introduce--text {
        height: 45vh;
        width: calc(100% + 40px);
        right: -20px;
        background-color: #262e38;
        position: absolute;
        bottom: 3vh;
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-tablet-vertical {
          width: 60vw;
          bottom: 20%;
        }
        @include bp-desktop-sm {
          height: 55vh;
          bottom: 15vh;
          width: 60vw;
          right: -80px;
        }
        &::after {
          content: '';
          top: 100%;
          left: 0;
          position: absolute;
          border-top: 10px solid #3e4c5d;
          border-left: 10px solid transparent;
          @include bp-tablet-vertical {
            visibility: hidden;
          }
        }
        &::before {
          content: '';
          top: 100%;
          right: 0;
          position: absolute;
          border-top: 10px solid #3e4c5d;
          border-right: 10px solid transparent;
          @include bp-desktop-sm {
            border-top: 30px solid #3e4c5d;
            border-right: 55px solid transparent;
          }
        }
        .content {
          color: #c0c7d1;
          padding: 15px;
          @include bp-tablet-vertical {
            padding-top: 8vh;
            padding-left: 15vw;
          }
          h1 {
            font-weight: 900;
            @include bp-tablet-vertical {
              font-size: 3rem;
            }
            @include bp-desktop-sm {
              font-size: 3.5rem;
            }
          }
          .content--seperater {
            height: 3px;
            background-color: #db324f;
            margin-left: 10vw;
            margin-top: 15px;
            margin-bottom: 15px;
            @include bp-tablet-vertical {
              margin-left: 50px;
            }
          }
          p {
            text-align: justify;
            font-family: 'Noe-Display', serif;
            line-height: 1.6;
            @include bp-tablet-vertical {
              padding-right: 5vw;
              line-height: 1.8;
            }
            @include bp-desktop-sm {
              font-size: 18px;
            }
            @include bp-desktop-md {
              font-size: 20px;
            }
          }
        }
      }
    }
    .addition {
      padding-top: 30vh;
      @include bp-desktop-sm {
        padding-top: 55vh;
      }
      position: relative;
      .addition--below-layer {
        background-color: #f4a024;
        height: 100vh;
        width: calc(100% + 20px);
        margin-left: -10px;
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-tablet-vertical {
          height: 55vh;
        }
        @include bp-desktop-sm {
          height: 65vh;
          width: calc(100% + 50px);
          margin-left: -25px;
        }
        &::after {
          content: '';
          top: 100%;
          right: 100%;
          position: absolute;
          border-top: 10px solid #848484;
          border-left: 10px solid transparent;
          @include bp-desktop-sm {
            border-top: 20px solid #848484;
            border-left: 25px solid transparent;
          }
        }
        &::before {
          content: '';
          top: 100%;
          left: 100%;
          position: absolute;
          border-top: 10px solid #848484;
          border-right: 10px solid transparent;
          @include bp-desktop-sm {
            border-top: 20px solid #848484;
            border-right: 25px solid transparent;
          }
        }
      }
      .addition--image {
        height: 45vh;
        width: calc(100% + 40px);
        left: -20px;
        background-color: #444444;
        position: absolute;
        bottom: 52vh;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-tablet-vertical {
          width: 70vw;
          bottom: 10vh;
        }
        @include bp-desktop-sm {
          height: 55vh;
          width: 60vw;
          left: -60px;
        }
        @include bp-desktop-lg {
          height: 60vh;
        }
        &::after {
          content: '';
          top: 100%;
          left: 0;
          position: absolute;
          border-top: 10px solid #484848;
          border-left: 10px solid transparent;
          @include bp-desktop-sm {
            border-top: 20px solid #484848;
            border-left: 35px solid transparent;
          }
        }
        &::before {
          content: '';
          top: 100%;
          right: 0;
          position: absolute;
          border-top: 10px solid #484848;
          border-right: 10px solid transparent;
          @include bp-tablet-vertical {
            visibility: hidden;
          }
        }
      }
      .addition--text {
        height: 45vh;
        width: calc(100% + 40px);
        right: -20px;
        background-color: #ffffff;
        position: absolute;
        bottom: 3vh;
        z-index: 1;
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-tablet-vertical {
          bottom: 25vh;
          height: 35vh;
          width: 38vh;
        }
        @include bp-desktop-sm {
          bottom: 15vh;
          height: 55vh;
          width: 55vh;
          right: -70px;
        }
        @include bp-desktop-md {
          height: 55vh;
          width: 55vh;
        }
        @media only screen and (min-width : 1366px) {
          height: 65vh;
          width: 65vh;
        }
        @include bp-desktop-lg {
          height: 65vh;
          width: 65vh;
        }
        &::after {
          content: '';
          top: 100%;
          left: 0;
          position: absolute;
          border-top: 10px solid #7d7d7d;
          border-left: 10px solid transparent;
          @include bp-tablet-vertical {
            visibility: hidden;
          }
        }
        &::before {
          content: '';
          top: 100%;
          right: 0;
          position: absolute;
          border-top: 10px solid #7d7d7d;
          border-right: 10px solid transparent;
          @include bp-desktop-sm {
            border-top: 25px solid #7d7d7d;
            border-right: 45px solid transparent;
          }
        }
        .content {
          padding: 15px;
          @include bp-tablet-vertical {
            padding-top: 5vw;
            padding-left: 5vw;
          }
          h1 {
            color: #dd3154;
            font-weight: 900;
            @include bp-tablet-vertical {
              font-size: 3rem;
            }
            @include bp-desktop-sm {
              font-size: 3.5rem;
            }
          }
          .content--seperater {
            height: 3px;
            background-color: #000000;
            margin-left: 12vw;
            margin-top: 15px;
            margin-bottom: 15px;
            @include bp-tablet-vertical {
              margin-left: 50px;
            }
          }
          h6 {
            color: #000000;
            font-family: 'Noe-Display', serif;
            line-height: 1.8;
            @include bp-tablet-vertical {
              line-height: 2;
            }
            span {
              padding: 8px;
              @include bp-tablet-vertical {
                padding: 10px;
              }
              @include transition(all .7s ease);
              position: relative;
              &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0;
                background: #dd3154;
                bottom: 0;
                left: 0;
                z-index: -1;
              }
              &:hover {
                color: #ffffff;
                &::before {
                  @include transition(all .7s ease);
                  width: 100%;
                }
              }
              &.social-network-logo {
                padding: 0;
                margin-left: 10px;
                background: none;
                a {
                  text-decoration: none;
                }
                &::before {
                  content: '';
                  position: absolute;
                  height: 100%;
                  width: 0;
                  bottom: 0;
                  left: 0;
                }
                &:hover {
                  img {
                    @include transition(all .7s ease);
                    @include transform(scale(1.2));
                  }
                  &::before {
                    width: 0;
                  }
                }
              }
              img {
                width: 35px;
                height: 35px;
                @include bp-tablet-vertical {
                  width: 40px;
                  height: 40px;
                }
              }
            }
            @include bp-tablet-vertical {
              padding-right: 20px;
            }
            @include bp-desktop-sm {
              font-size: 18px;
            }
            @include bp-desktop-md {
              font-size: 20px;
            }
          }
        }
      }
    }
    .footer {
      padding-top: 30vh;
      @include bp-tablet-vertical {
        padding-top: 55vh;
      }
      position: relative;
      .footer--below-layer {
        background-color: #ffffff;
        height: 60vh;
        width: calc(100% + 20px);
        margin-left: -10px;
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-tablet-vertical {
          height: 55vh;
        }
        @include bp-desktop-sm {
          height: 65vh;
          width: calc(100% + 50px);
          margin-left: -25px;
        }
        &::after {
          content: '';
          top: 100%;
          right: 100%;
          position: absolute;
          border-top: 10px solid #848484;
          border-left: 10px solid transparent;
          @include bp-desktop-sm {
            border-top: 20px solid #848484;
            border-left: 25px solid transparent;
          }
        }
        &::before {
          content: '';
          top: 90vh;
          left: 100%;
          position: absolute;
          border-top: 10px solid #848484;
          border-right: 10px solid transparent;
          @include bp-tablet-vertical {
            display: none;
          }
        }
      }
      .footer--content {
        height: 50vh;
        width: calc(100% + 40px);
        right: -20px;
        background-color: #262e38;
        position: absolute;
        bottom: 5vh;
        color: #acacac;
        z-index: 1;
        padding-top: 50px;
        @include box-shadow(1px, 5px, 95px, 0px, rgba(0,0,0,0.3));
        @include bp-tablet-vertical {
          width: 80vw;
          bottom: -5vh;
        }
        @include bp-desktop-sm {
          width: 70vw;
          right: -50px;
        }
        @include bp-desktop-lg {
          width: 75vw;
          height: 55vh;
        }
        &::after {
          content: '';
          top: 100%;
          left: 0;
          position: absolute;
          border-top: 10px solid #3e4c5d;
          border-left: 10px solid transparent;
          @include bp-tablet-vertical {
            visibility: hidden;
          }
        }
        &::before {
          content: '';
          top: 100%;
          right: 0;
          position: absolute;
          border-top: 10px solid #3e4c5d;
          border-right: 10px solid transparent;
          @include bp-tablet-vertical {
            border-top: 15px solid #3e4c5d;
            border-right: 20px solid transparent;
          }
          @include bp-desktop-sm {
            border-top: 25px solid #3e4c5d;
            border-right: 50px solid transparent;
          }
        }
        li {
          list-style-type: none;
          font-family: 'Noe Display', serif;
          padding-top: 5px;
          @include bp-desktop-sm {
            font-size: 20px;
          }
        }
        .content-box {
          @include flexbox();
          @include align-items(baseline);
          @include justify-content(space-evenly);
          @include flex-flow(wrap-reverse);
          padding: 0 20px;
          @include bp-tablet-vertical {
            @include align-items(flex-start);
            @include flex-flow(nowrap);
          }
          .logo {
            width: 40%;
            margin-left: 60%;
            margin-top: 20%;
            @include bp-tablet-vertical {
              margin-left: 0;
              margin-top: 0;
              width: 20%;
            }
            @include bp-desktop-md {
              width: 150px;
            }
          }
          .list-text {
            text-align: right;
            h6 {
              position: relative;
              @include bp-desktop-sm {
                font-size: 1.5rem;
              }
              &::before {
                position: absolute;
                content: '';
                width: 30px;
                height: 1px;
                background-color: #acacac;
                top: 50%;
              }
            }
            &.menu {
              h6 {
                &::before {
                  right: 50%;
                }
              }
            }
            &.contact {
              h6 {
                &::before {
                  right: 40%;
                }
              }
            }
          }
        }
      }
    }
    .no-content {
      padding-top: 10px;
      @include bp-tablet-vertical {
        padding-top: calc(5vh + 15px);
      }
      @include bp-desktop-sm {
        padding-top: calc(5vh + 25px);
      }
    }
  }
}

@include keyframes(scroll-down) {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@include keyframes(line-appearance) {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(scale) {
  from {
    opacity: 0;
    @include transform(scale(3));
  }
  to {
    opacity: 1;
    @include transform(scale(1));
  }
}

@include keyframes(fade-out) {
  from {
    opacity: 1;
    @include transform(scale(1));
  }
  to {
    opacity: 0.1;
    @include transform(scale(1.5));
  }
}

@include keyframes(hidden) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(change-color) {
  to {
    color: #ffffff;
  }
}
